
p6/ex6.pdf
p6/New folder/hw06.pdf
p6/New folder/hw6_q3_a/blink_analogread_ino/blink_analogread_ino.ino
p6/New folder/hw6_q3_a/blink_analogread_ino/blink_analogread_ino.ino.standard.hex
p6/New folder/hw6_q3_a/blink_analogread_ino/blink_analogread_ino.ino.with_bootloader.standard.hex
p6/New folder/hw6_q3_a/hw6_q3_a.pdsprj
p6/New folder/hw6_q3_a/s01.jpg
p6/New folder/hw6_q3_a/s02.jpg
p6/New folder/hw6_q3_b/safety_robot/safety_robot.ino
p6/New folder/hw6_q3_b/safety_robot/safety_robot.ino.standard.hex
p6/New folder/hw6_q3_b/safety_robot/safety_robot.ino.with_bootloader.standard.hex
p6/New folder/hw6_q3_c/GasSensorTEP.HEX
p6/New folder/hw6_q3_c/hw6_q3_c_v1.pdsprj
p6/New folder/hw6_q3_c/hw6_q3_c_v2.pdsprj
p6/New folder/hw6_q3_c/s01.jpg
p6/New folder/hw6_q3_c/s02.jpg
p6/New folder/hw6_q3_c/UltraSonicTEP.HEX
p6/New folder/hw6_q3_d/image.jpg
p6/New folder/hw6_q3_d/video.mp4
p6/s3/2/main.ino
p6/s3/2/safety_robot.ino
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtwtypes.h
p7/ghanbari/1608802589_805__emb_ex_n7_g3.zip
p7/ghanbari/hw07.pdf
p7/ghanbari/hw7_q3_a/hw7_q3_a.slx
p7/ghanbari/hw7_q3_a/img1.jpg
p7/ghanbari/hw7_q3_a/img2.jpg
p7/ghanbari/hw7_q3_b/hw7_q3_b.slx
p7/ghanbari/hw7_q3_b/hw7_q3_b.slxc
p7/ghanbari/hw7_q3_b/img1.jpg
p7/ghanbari/hw7_q3_b/img2.jpg
p7/ghanbari/hw7_q3_b/img3.jpg
p7/ghanbari/hw7_q3_b/input.mat
p7/ghanbari/hw7_q3_b/input.mp3
p7/ghanbari/hw7_q3_b/output.wav
p7/ghanbari/hw7_q3_b/slprj/sim/varcache/hw7_q3_b/checksumOfCache.mat
p7/ghanbari/hw7_q3_b/slprj/sim/varcache/hw7_q3_b/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_b/slprj/sim/varcache/hw7_q3_b/varInfo.mat
p7/ghanbari/hw7_q3_c/hw7_q3_c.pdsprj
p7/ghanbari/hw7_q3_c/hw7_q3_c.slx
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/abi.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/arduinoAVRScheduler.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/build_exception.mat
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/buildInfo.mat
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/CDC.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/codedescriptor.dmr
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/codeInfo.mat
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/codertarget_assembly_flags.mk
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/compileInfo.mat
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/defines.txt
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/ert_main.c
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/ert_main.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HardwareSerial.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HardwareSerial0.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HardwareSerial1.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HardwareSerial2.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HardwareSerial3.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hooks.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/HostLib_Multimedia.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c.bat
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c.c
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c.h
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c.mk
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/hw7_q3_c_data.c
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/io_wrappers.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/IPAddress.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/libcore.a
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/modelsources.txt
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/MW_ArduinoHWInit.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/MW_RebuildSrc_Core.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/MW_SerialRead.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/MW_SerialWrite.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/MW_target_hardware_resources.h
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/new.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/PluggableUSB.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/Print.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/rtmodel.h
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/rtw_proj.tmw
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/Stream.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/Tone.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/USBCore.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/WInterrupts.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring_analog.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring_digital.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring_pulse.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring_pulse.S.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wiring_shift.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/WMath.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/wrapper.mk
p7/ghanbari/hw7_q3_c/hw7_q3_c_ert_rtw/WString.dep
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/.vscode/extensions.json
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/include/README
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/lib/README
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/platformio.ini
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/src/main.cpp
p7/ghanbari/hw7_q3_c/hw7_q3_c_pio/test/README
p7/ghanbari/hw7_q3_c/img00.jpg
p7/ghanbari/hw7_q3_c/img01.jpg
p7/ghanbari/hw7_q3_c/img02.jpg
p7/ghanbari/hw7_q3_c/img03.jpg
p7/ghanbari/hw7_q3_c/img04.jpg
p7/ghanbari/hw7_q3_c/img05.jpg
p7/ghanbari/hw7_q3_c/img06.jpg
p7/ghanbari/hw7_q3_c/img07.jpg
p7/ghanbari/hw7_q3_c/img08.jpg
p7/ghanbari/hw7_q3_c/img09.jpg
p7/ghanbari/hw7_q3_c/img10.jpg
p7/ghanbari/hw7_q3_c/img11.jpg
p7/ghanbari/hw7_q3_c/input.mp3
p7/ghanbari/hw7_q3_c/input1.mat
p7/ghanbari/hw7_q3_c/output.wav
p7/ghanbari/hw7_q3_c/sketch_dec23a/O0_sketch_dec23a.ino.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O0_sketch_dec23a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O1_sketch_dec23a.ino.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O1_sketch_dec23a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O2_sketch_dec23a.ino.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O2_sketch_dec23a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O3_sketch_dec23a.ino.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/O3_sketch_dec23a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/Os_sketch_dec23a.ino.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/Os_sketch_dec23a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_c/sketch_dec23a/sketch_dec23a.back
p7/ghanbari/hw7_q3_c/sketch_dec23a/sketch_dec23a.ino
p7/ghanbari/hw7_q3_c/sketch_dec23a/sketch_dec23a.txt
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/buildInfo.mat
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/checksummap.mat
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/codertarget_assembly_flags.mk
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/compileInfo.mat
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rt_roundd.c
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rt_roundd.dep
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rt_roundd.h
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtw_proj.tmw
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtwshared.a
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtwshared.bat
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtwshared.mk
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/rtwtypeschksum.mat
p7/ghanbari/hw7_q3_c/slprj/ert/_sharedutils/shared_file.dmr
p7/ghanbari/hw7_q3_c/slprj/ert/hw7_q3_c/tmwinternal/binfo.mat
p7/ghanbari/hw7_q3_c/slprj/ert/hw7_q3_c/tmwinternal/CompileInfo.xml
p7/ghanbari/hw7_q3_c/slprj/ert/hw7_q3_c/tmwinternal/minfo.mat
p7/ghanbari/hw7_q3_c/slprj/ert/hw7_q3_c/tmwinternal/scv
p7/ghanbari/hw7_q3_c/slprj/ert/hw7_q3_c/tmwinternal/tr
p7/ghanbari/hw7_q3_c/slprj/sim/varcache/hw7_q3_c/checksumOfCache.mat
p7/ghanbari/hw7_q3_c/slprj/sim/varcache/hw7_q3_c/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_c/slprj/sim/varcache/hw7_q3_c/varInfo.mat
p7/ghanbari/hw7_q3_c/slprj/sl_proj.tmw
p7/ghanbari/hw7_q3_d/backup/hw7_q3_d.slx
p7/ghanbari/hw7_q3_d/hw7_q3_d.slx
p7/ghanbari/hw7_q3_d/hw7_q3_d.slxc
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/buildInfo.mat
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/codedescriptor.dmr
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/codeInfo.mat
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/codertarget_assembly_flags.mk
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/compileInfo.mat
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/defines.txt
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/ert_main.c
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/hw7_q3_d.bat
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/hw7_q3_d.c
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/hw7_q3_d.h
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/hw7_q3_d.mk
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/hw7_q3_d_data.c
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/modelsources.txt
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/MW_target_hardware_resources.h
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/rtmodel.h
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/rtw_proj.tmw
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_d/hw7_q3_d_ert_rtw/wrapper.mk
p7/ghanbari/hw7_q3_d/img00.png
p7/ghanbari/hw7_q3_d/img01.jpg
p7/ghanbari/hw7_q3_d/img02.jpg
p7/ghanbari/hw7_q3_d/img03.jpg
p7/ghanbari/hw7_q3_d/img04.jpg
p7/ghanbari/hw7_q3_d/img05.jpg
p7/ghanbari/hw7_q3_d/img06.jpg
p7/ghanbari/hw7_q3_d/img07.jpg
p7/ghanbari/hw7_q3_d/input1.mat
p7/ghanbari/hw7_q3_d/slprj/ert/_sharedutils/checksummap.mat
p7/ghanbari/hw7_q3_d/slprj/ert/_sharedutils/rtwtypes.h
p7/ghanbari/hw7_q3_d/slprj/ert/_sharedutils/rtwtypeschksum.mat
p7/ghanbari/hw7_q3_d/slprj/ert/_sharedutils/shared_file.dmr
p7/ghanbari/hw7_q3_d/slprj/ert/hw7_q3_d/tmwinternal/binfo.mat
p7/ghanbari/hw7_q3_d/slprj/ert/hw7_q3_d/tmwinternal/CompileInfo.xml
p7/ghanbari/hw7_q3_d/slprj/ert/hw7_q3_d/tmwinternal/minfo.mat
p7/ghanbari/hw7_q3_d/slprj/ert/hw7_q3_d/tmwinternal/scv
p7/ghanbari/hw7_q3_d/slprj/ert/hw7_q3_d/tmwinternal/tr
p7/ghanbari/hw7_q3_d/slprj/modelrestore/ec7c55f2-1f0b-4036-bd36-6ee6d496d986/35CB9615D7FA06B5A78DB216FDD2FE19/hw7_q3_d.slx
p7/ghanbari/hw7_q3_d/slprj/modelrestore/ec7c55f2-1f0b-4036-bd36-6ee6d496d986/35CB9615D7FA06B5A78DB216FDD2FE19/restoreData.mat
p7/ghanbari/hw7_q3_d/slprj/sim/varcache/hw7_q3_d/checksumOfCache.mat
p7/ghanbari/hw7_q3_d/slprj/sim/varcache/hw7_q3_d/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_d/slprj/sim/varcache/hw7_q3_d/varInfo.mat
p7/ghanbari/hw7_q3_d/slprj/sl_proj.tmw
p7/ghanbari/hw7_q3_e/hw7_q3_e.pdsprj
p7/ghanbari/hw7_q3_e/img01.jpg
p7/ghanbari/hw7_q3_e/img02.jpg
p7/ghanbari/hw7_q3_e/img03.jpg
p7/ghanbari/hw7_q3_e/sketch_dec24a/O0_sketch_dec24a.ino.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O0_sketch_dec24a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O1_sketch_dec24a.ino.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O1_sketch_dec24a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O2_sketch_dec24a.ino.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O2_sketch_dec24a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O3_sketch_dec24a.ino.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/O3_sketch_dec24a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/Os_sketch_dec24a.ino.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/Os_sketch_dec24a.ino.with_bootloader.mega.hex
p7/ghanbari/hw7_q3_e/sketch_dec24a/sketch_dec24a.ino
p7/ghanbari/hw7_q3_e/sketch_dec24a/sketch_dec24a.txt
p7/ghanbari/hw7_q3_e/src/buildInfo.mat
p7/ghanbari/hw7_q3_e/src/codedescriptor.dmr
p7/ghanbari/hw7_q3_e/src/codeInfo.mat
p7/ghanbari/hw7_q3_e/src/codertarget_assembly_flags.mk
p7/ghanbari/hw7_q3_e/src/compileInfo.mat
p7/ghanbari/hw7_q3_e/src/defines.txt
p7/ghanbari/hw7_q3_e/src/ert_main.c
p7/ghanbari/hw7_q3_e/src/hw7_q3_d.bat
p7/ghanbari/hw7_q3_e/src/hw7_q3_d.c
p7/ghanbari/hw7_q3_e/src/hw7_q3_d.h
p7/ghanbari/hw7_q3_e/src/hw7_q3_d.mk
p7/ghanbari/hw7_q3_e/src/hw7_q3_d_data.c
p7/ghanbari/hw7_q3_e/src/modelsources.txt
p7/ghanbari/hw7_q3_e/src/MW_target_hardware_resources.h
p7/ghanbari/hw7_q3_e/src/rtmodel.h
p7/ghanbari/hw7_q3_e/src/rtw_proj.tmw
p7/ghanbari/hw7_q3_e/src/tmwinternal/simulink_cache.xml
p7/ghanbari/hw7_q3_e/src/wrapper.mk
p8/ghanbari/hw08.pdf
p8/ghanbari/hw8_q3_a_CoverageDetails/docked__cov__report__hw8_q3_a__Normal.html
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/aqua.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/black.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/blue.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/codecovreport.css
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/codecovreport_utils.js
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/covreport_utils.js
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/dkgrn.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/filter_add.png
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/filter_remove.png
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn01.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn02.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn03.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn04.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn05.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn06.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn07.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn08.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/grn09.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/horz_line.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/htmlfile.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/left_arrow.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/ltBlu.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/ltblue.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/ltgrn.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/modelcovreport.css
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/pink.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/purple.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/red.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/right_arrow.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/trans.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/version110.txt
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/vert_line.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/white.gif
p8/ghanbari/hw8_q3_a_CoverageDetails/scv_images/yellow.gif
p8/ghanbari/hw8_q3_a_Matlab/hw8_q3_a.slx
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/docked__cov__report__hw8_q3_a__Normal.html
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/aqua.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/black.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/blue.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/codecovreport.css
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/codecovreport_utils.js
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/covreport_utils.js
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/dkgrn.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/filter_add.png
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/filter_remove.png
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn01.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn02.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn03.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn04.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn05.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn06.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn07.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn08.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/grn09.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/horz_line.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/htmlfile.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/left_arrow.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/ltBlu.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/ltblue.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/ltgrn.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/modelcovreport.css
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/pink.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/purple.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/red.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/right_arrow.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/trans.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/version110.txt
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/vert_line.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/white.gif
p8/ghanbari/hw8_q3_a_Matlab/slcov_output/CoverageDetails/scv_images/yellow.gif
p8/ghanbari/hw8_q3_a_Matlab/slprj/_jitprj/sOIII5hQNEVSaf4lSpTTuwE.l
p8/ghanbari/hw8_q3_a_Matlab/slprj/_jitprj/sOIII5hQNEVSaf4lSpTTuwE.mat
p8/ghanbari/hw8_q3_a_Matlab/slprj/_sfprj/EMLReport/sOIII5hQNEVSaf4lSpTTuwE.mat
p8/ghanbari/hw8_q3_a_Matlab/slprj/_sfprj/hw8_q3_a/_self/sfun/info/binfo.mat
p8/ghanbari/hw8_q3_a_Matlab/slprj/_sfprj/hw8_q3_a/amsi_serial.mat
p8/ghanbari/hw8_q3_a_Matlab/slprj/_sfprj/precompile/XRIT7A3iRE1QR4j6J17MEC.mat
p8/ghanbari/hw8_q3_a_Matlab/t1.mldatx
p8/ghanbari/hw8_q3_a_Matlab/t2.mldatx
p8/ghanbari/hw8_q3_a_Shots/img0.jpg
p8/ghanbari/hw8_q3_a_Shots/img1.jpg
p8/ghanbari/hw8_q3_a_Shots/img2.jpg
p8/ghanbari/hw8_q3_a_Shots/img3.jpg
p8/ghanbari/hw8_q3_a_Shots/img4.jpg
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b.slx
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b.slxc
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/build_exception.mat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/buildInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/codedescriptor.dmr
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/codeInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/codertarget_assembly_flags.mk
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/compileInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/defines.txt
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/ert_main.c
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/arduinoAVRScheduler_cpp.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/css/coder_app.css
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/define.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/ert_main_c.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hilite_warning.png
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_c.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_codegen_rpt.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_coderassumptions.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_contents.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_interface.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_metrics.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_private_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_replacements.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_subsystems.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_survey.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_trace.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/hw8_q3_b_types_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/inspect.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/io_wrappers_cpp.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/js/coder_app.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/MW_ArduinoHWInit_cpp.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/MW_target_hardware_resources_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/nav.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/navToolbar.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtmodel_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwhilite.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwmsg.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwreport.css
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwreport_utils.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwshrink.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/rtwtypes_h.html
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/search.js
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/html/spinner.gif
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b.bat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b.c
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b.mk
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b_private.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/hw8_q3_b_types.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/modelsources.txt
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/MW_target_hardware_resources.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/rtmodel.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/rtw_proj.tmw
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/rtwtypes.h
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/rtwtypeschksum.mat
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/tmwinternal/simulink_cache.xml
p8/ghanbari/hw8_q3_b_Matlab/hw8_q3_b_ert_rtw/wrapper.mk
p8/ghanbari/hw8_q3_b_Matlab/slprj/_jitprj/jitEngineAccessInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_jitprj/sjjrOxMsOEvU7aTrh8OgYGC.l
p8/ghanbari/hw8_q3_b_Matlab/slprj/_jitprj/sjjrOxMsOEvU7aTrh8OgYGC.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_jitprj/sn2K5kHqEc58NGX7Yuq3VZD.l
p8/ghanbari/hw8_q3_b_Matlab/slprj/_jitprj/sn2K5kHqEc58NGX7Yuq3VZD.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/EMLReport/emlReportAccessInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/EMLReport/sjjrOxMsOEvU7aTrh8OgYGC.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/EMLReport/sn2K5kHqEc58NGX7Yuq3VZD.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/EMLReport/vBIkFqf7cAX2O6b1hEhMCH.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/rtw/ert/info/binfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/rtw/ert/src/c3_hw8_q3_b.tlc
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/rtw/ert/src/c3_hw8_q3_b.tlh
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/rtw/ert/src/hw8_q3_b_rtw.tlc
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/rtw/ert/src/hw8_q3_b_rtw.tlh
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/_self/sfun/info/binfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/hw8_q3_b/amsi_serial.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/precompile/autoInferAccessInfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/_sfprj/precompile/R7LCwgfnhp94JfHS4btQBB.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/_sharedutils/shared_file.dmr
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/hw8_q3_b/tmwinternal/binfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/hw8_q3_b/tmwinternal/CompileInfo.xml
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/hw8_q3_b/tmwinternal/minfo.mat
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/hw8_q3_b/tmwinternal/scv
p8/ghanbari/hw8_q3_b_Matlab/slprj/ert/hw8_q3_b/tmwinternal/tr
p8/ghanbari/hw8_q3_b_Matlab/slprj/sl_proj.tmw
p8/ghanbari/hw8_q3_b_Shots/img1.jpg
p8/ghanbari/hw8_q3_b_Shots/img2.jpg
p8/ghanbari/hw8_q3_b_Shots/img3.jpg
p8/ghanbari/hw8_q3_b_Shots/img4.jpg
p8/ghanbari/hw8_q3_b_Shots/img5.jpg
p8/ghanbari/hw8_q3_b_Shots/img6.jpg
p8/ghanbari/hw8_q3_b_UnitTesting/sketch_dec28a.pdsprj
p8/ghanbari/hw8_q3_b_UnitTesting/sketch_dec28a/sketch_dec28a.ino
p8/ghanbari/hw8_q3_b_UnitTesting/sketch_dec28a/sketch_dec28a.ino.standard.hex
p8/ghanbari/hw8_q3_b_UnitTesting/sketch_dec28a/sketch_dec28a.ino.with_bootloader.standard.hex
